h1,
h2 {
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-weight: 400;
  color: #000000;
  font-size: 2.2em;
}

@media only screen and (min-width: 1024px) {
  h1,
h2 {
    font-size: 3em;
    font-weight: 600;
  }
}
h3 {
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-weight: 400;
  color: #000000;
  font-size: 1.8em;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-weight: 400;
  color: #000000;
  font-size: 1.1em;
}

span {
  color: #283618;
  font-weight: 500;
}

p {
  font-size: 1.1em;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
a:visited {
  color: #000000;
}

.light {
  color: #fefae0;
}

.btn {
  margin: 1em 0;
  padding: 0.5em 2em;
  border: 2px solid #000000;
  border-radius: 25px;
  background: transparent;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}
.btn:hover {
  background: #000000;
  color: #fefae0;
}
.btn--sub {
  padding: 15px 0.7em;
  background: #dda15e;
  text-transform: uppercase;
  font-weight: 300;
  border: none;
  border-radius: 0 20px 20px 0;
  width: 50%;
}
.btn--sub:hover {
  background: #bc6c25;
  color: #fefae0;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  position: relative;
}

.container {
  padding: 2em 1em;
}

.icon {
  cursor: pointer;
  color: #000000;
}

.img {
  width: 50%;
  height: 40%;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 1.5em;
}

.list {
  list-style: none;
  padding: 0;
  line-height: 2em;
}

.navigation {
  background: #dda15e;
  position: relative;
}
.navigation .wrapper {
  display: flex;
}
.navigation .wrapper .nav-bar {
  display: flex;
  place-content: center space-between;
  padding: 1em;
  border-bottom: 1px solid #000000;
  width: 100vw;
  height: 80px;
}

.open-menu {
  overflow-y: hidden;
}

.menu, .basket {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #606c38;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transform-origin: right;
  animation: openUp 1s ease-in-out both;
}

.close {
  animation: close 1s ease-in-out both;
}

@keyframes openUp {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.close-btn,
.menu,
.basket {
  display: none;
  padding: 0.5em;
}

.menu-list {
  list-style: none;
}
.menu-list a {
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 2.5em;
  font-weight: 600;
}
.menu-list a:hover {
  color: #fefae0;
}

.hero .container {
  height: calc(100vh-80px);
  background-color: #dda15e;
}

.anim-text {
  display: flex;
  white-space: nowrap;
  padding: 1em 0;
  overflow-x: hidden;
  border-bottom: 1px solid #000000;
}
.anim-text .anim {
  animation: textLoop 30s infinite;
  letter-spacing: 1em;
}

@keyframes textLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.grid .img {
  object-fit: contain;
}
.grid-item {
  text-align: center;
  height: 30vh;
}
.grid-item p {
  font-size: 0.9em;
}
.grid-item h5 {
  color: #606c38;
}

.products {
  height: 50vh;
  background: url("/img/img_2.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .wrapper {
  text-align: center;
  background-color: #dda15e;
  opacity: 0.7;
  width: 100%;
}

.text {
  text-align: center;
  margin-top: 2em;
}

.item {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.5em;
  color: #000000;
  margin-bottom: 1em;
}
.item .img {
  height: 250px;
}
.item .btn {
  width: 100%;
}

.opinions-section {
  height: 80vh;
  background: #dda15e;
}
.opinions-section .container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opinions-section .container .opinions {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
}

footer .container {
  padding: 0;
}

.black {
  padding: 2em 1em;
  color: #fefae0;
  background: #000000;
}
.black .sub {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.black .sub input {
  padding: 15px;
  border: none;
  border-radius: 20px 0 0 20px;
  width: 70%;
}
.black .sub input:active, .black .sub input:focus {
  outline: none;
}

.faq {
  padding: 2em 1em;
}
.faq .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em 0 3em;
}

.closeB {
  display: none;
}

.question-answer {
  display: none;
}

.faq-section h2 {
  border-bottom: 1px solid #000000;
}
.faq-section a {
  font-size: 1.7em;
  text-transform: uppercase;
  margin: 1em 0;
}
.faq-section a:hover {
  color: #283618;
}

.question {
  margin: 1em 0;
}

.question-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.question-text h5 {
  margin-right: 1em;
}
.question-text .icon {
  font-size: 1.3em;
}

.about {
  background-color: #606c38;
}
.about .container {
  background-color: #606c38;
}

.block {
  display: flex;
  flex-direction: column-reverse;
}
.block--column {
  flex-direction: column;
}

.orange {
  background-color: #dda15e;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 2em;
  }

  .hero .container {
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero .container .img {
    margin-left: 1em;
    height: 100%;
  }

  .about .container {
    flex-direction: row;
  }
  .about .container .img {
    margin-left: 0;
    margin-right: 1em;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .question-text {
    justify-content: space-between;
  }

  .faq-container {
    display: flex;
  }
  .faq-container .container {
    position: sticky;
    top: 0;
  }
  .faq-container .answers {
    width: 80%;
  }

  .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
    padding: 2em 1em;
  }
  .block .text {
    margin-right: 2em;
  }
  .block .text h2 {
    font-size: 2em;
  }
  .block .img {
    height: 100%;
    width: 50%;
    margin-left: 2em;
  }
  .block div {
    width: 50%;
  }
  .block--reverse {
    flex-direction: row-reverse;
  }
  .block--reverse .img {
    margin-left: 0em;
    margin-right: 2em;
  }
  .block--column {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  .open-btn {
    display: none;
  }

  .menu, .basket {
    position: unset;
    display: flex;
    background: transparent;
    height: 80px;
    border-bottom: 1px solid #000000;
    transform: translateX(0%);
  }
  .menu .menu-list, .basket .menu-list {
    display: flex;
  }
  .menu .menu-list a, .basket .menu-list a {
    font-size: 1.5em;
    margin: 0 0.5em;
  }

  @keyframes openUp {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes openU {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .logo .icon {
    font-size: 3em;
  }

  .hero .container {
    height: 90vh;
  }
  .hero .container .img {
    height: 80%;
  }

  .black {
    display: flex;
    align-items: center;
  }
  .black .text {
    width: 50%;
    text-align: left;
    margin-top: 0;
  }
  .black .sub {
    width: 50%;
    margin-top: 0;
  }

  .faq {
    display: flex;
    justify-content: space-between;
  }
  .faq .links {
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }

  .basket {
    position: absolute;
    height: 100vh;
    width: 80vw;
    top: 0;
    right: 0;
    display: none;
    z-index: 20;
    transform: translateX(-100%);
    transform-origin: right;
    animation: openU 1s ease-in-out both;
    background-color: #606c38;
  }

  .close {
    animation: close 1s ease-in-out both;
  }
}/*# sourceMappingURL=style.css.map */